WebDms2/App_Data/Planeten.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tracs.de/Planeten.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Planeten">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Planet">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Durchmesser">
                <xs:complexType>
                  <xs:attribute name="Einheit" type="xs:string" use="required" />
                  <xs:attribute name="Wert" type="xs:unsignedInt" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="Mond">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Durchmesser">
                      <xs:complexType>
                        <xs:attribute name="Einheit" type="xs:string" use="required" />
                        <xs:attribute name="Wert" type="xs:unsignedInt" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>